@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
	--lime: hsl(61, 70%, 52%);
	--red: hsl(4, 69%, 50%);
	--White: hsl(0, 0%, 100%);
	--Slate-100: hsl(202, 86%, 94%);
	--Slate-300: hsl(203, 41%, 72%);
	--Slate-500: hsl(200, 26%, 54%);
	--Slate-700: hsl(200, 24%, 40%);
	--Slate-900: hsl(202, 55%, 16%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'plus jakarta sans';
}

p {
	font-size: 16px;
}

a {
	color: var(--Slate-700);
	font-size: 12px;
}

label {
	color: var(--Slate-700);
	font-size: 12px;
}

@media (max-width: 1445px) {
	body {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: var(--Slate-100);
	}

	main {
		width: 700px;
		height: 400px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		background-color: var(--White);
		overflow: hidden;
	}

	.calculator {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 0 20px;
	}

	header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	header h4 {
		color: var(--Slate-900);
		font-size: 18px;
	}

	.input-wrapper {
		width: 100%;
		height: 40%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2%;
	}

	.amount-item {
		position: absolute;
		top: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 8px;
	}

	.amount-input-area {
		width: 100%;
		height: 40px;
		display: flex;
		border: 1px solid grey;
		border-radius: 5px;
	}

	.input {
		width: 100%;
		border: none;
		border-radius: 5px;
	}

	.term-item {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 8px;
	}

	.term-input-area {
		height: 40px;
		display: flex;
		border: 1px solid grey;
		border-radius: 5px;
	}

	.second-input {
		width: 100%;
		border: none;
		border-radius: 5px;
	}

	.rate-item {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		gap: 8px;
	}

	.rate-input-area {
		height: 40px;
		display: flex;
		border: 1px solid grey;
		border-radius: 5px;
	}

	.tile {
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--Slate-100);
	}

	.tile:nth-child(2) {
		padding: 5px 30px;
	}

	.tile > h4 {
		font-size: 14px;
	}

	.result {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-bottom-left-radius: 50px;
		background-color: var(--Slate-900);
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
